<h1 id="tableLabel">Companies list</h1>
<p *ngIf="!companies"><em>Loading...</em></p>
<div *ngIf="companies" fxLayout="row" fxLayoutAlign="space-between center">
  <mat-form-field appearance="fill" fxFlex="50">
    <mat-label>Sort by:</mat-label>
    <mat-select [(value)]="sortCriteriaSelector" (selectionChange)="sortCompanies()">
      <mat-option [value]="sortCompaniesCriteriaType.CompanyName">Company Name</mat-option>
      <mat-option [value]="sortCompaniesCriteriaType.ContactName">Contact name</mat-option>
      <mat-option [value]="sortCompaniesCriteriaType.YearsInBusinessThenName">Years in business, then company name</mat-option>
      <mat-option [value]="sortCompaniesCriteriaType.ContactNameThenYearsInBusinessThenName">Contact name, then years in business, then company name</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-stroked-button color="accent" type="button" (click)="exportToCsvFile()">Export to CSV file</button>
</div>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="companies">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Years in Business</th>
      <th>Contact Name</th>
      <th>Contact Phone Number</th>
      <th>Contact Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies">
      <td>{{ company.companyName }}</td>
      <td>{{ company.yearsInBusiness }}</td>
      <td>{{ company.contactName }}</td>
      <td>{{ company.contactPhoneNumber }}</td>
      <td>{{ company.contactEmail }}</td>
    </tr>
  </tbody>
</table>
